# Project 1 -- Jason Ivey

**TA Help:** NA

  
**Collaboration:** NA

## Question 1

A sentence explaining how many cores and how much memory is available, in total, across all nodes in the sub-clusters on Anvil)
	
    Across sub-clusters:
	
    + A: total cores = 128000, total memory = 256000 GB
	+ B: total cores = 4096, total memory = 32 TB 
	+ C: total cores = 2048, total memory = 8192 GB 

A sentence explaining how many cores and how much memory is available, in total, for your own computer)
	I have 24 cores and 65576880 kB of memory.

## Question 2

In [1]:
%%R

system("hostname", intern=TRUE)

[1] "a033.anvil.rcac.purdue.edu"

**What is the name of the node on Anvil that you are running on?**
	
    a033.anvil.rcac.purdue.edu

## Question 3

In [2]:
my_list = [1, 2, 3]
print(f'My list is: {my_list}')

My list is: [1, 2, 3]

In [3]:
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

In [4]:
%%sql

SELECT * FROM titles LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt0000001', 'short', 'Carmencita', 'Carmencita', 0, 1894, None, 1, 'Documentary,Short'),
 ('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', 0, 1892, None, 5, 'Animation,Short'),
 ('tt0000003', 'short', 'Pauvre Pierrot', 'Pauvre Pierrot', 0, 1892, None, 4, 'Animation,Comedy,Romance'),
 ('tt0000004', 'short', 'Un bon bock', 'Un bon bock', 0, 1892, None, 12, 'Animation,Short'),
 ('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', 0, 1893, None, 1, 'Comedy,Short')]

In [6]:
%%bash

awk -F, '{miles=miles+$19}END{print "Miles: " miles, "\nKilometers:" miles*1.609344}' /anvil/projects/tdm/data/flights/subset/1991.csv

Miles: 3263678656
Kilometers:5.25238e+09

## Question 4

There are 13 MarkDown cells and 5 code cells.

## Question 5

In [7]:
(cores_a, mem_a) = ( 1000 * 128, 1000*256)
(cores_b, mem_b) = ( 32 * 128, 32*1)
(cores_c, mem_c) = ( 16 * 128, 16*512)

print(f"""
A: total cores = {cores_a}, total memory = {mem_a} GB
B: total cores = {cores_b}, total memory = {mem_b} TB 
C: total cores = {cores_c}, total memory = {mem_c} GB 
""")

A: total cores = 128000, total memory = 256000 GB
B: total cores = 4096, total memory = 32 TB
C: total cores = 2048, total memory = 8192 GB

In [17]:
%%R

# From: https://stackoverflow.com/questions/13023274/how-to-do-printf-in-r
printf <- function(...) invisible(print(sprintf(...)))

cores_a = 1000 * 128
cores_b = 32 * 128
cores_c = 16 * 128

mem_a =  1000*256
mem_b = 32*1
mem_c = 16*512

printf(c("A: total cores ==%.2f", ", total memory =%.2f"), c(cores_a, mem_a))
printf(c("B: total cores ==%.2f", ", total memory =%.2f"), c(cores_b, mem_b))
printf(c("C: total cores ==%.2f", ", total memory =%.2f"), c(cores_c, mem_c))

[1] "A: total cores ==128000.00" ", total memory =256000.00"
[1] "B: total cores ==4096.00" ", total memory =32.00"
[1] "C: total cores ==2048.00" ", total memory =8192.00"

## Question 6

In [18]:
%%R

dat <- read.csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [19]:
%%R

head(dat)

        date            datetime SACTMIN SPOSTMIN
1 05/26/2017 2017-05-26 09:06:38      NA     -999
2 05/26/2017 2017-05-26 09:10:11      47       NA
3 05/26/2017 2017-05-26 09:10:12      NA        5
4 05/26/2017 2017-05-26 09:17:09      NA       60
5 05/26/2017 2017-05-26 09:24:07      NA       60
6 05/26/2017 2017-05-26 09:30:10      NA       60

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.